@import './../variables';

.Header {
    align-items: center;
    background: $blue-primary-3;
    display: flex;
    height: $header-height;
    justify-content: flex-end;
    padding: 0 1.5rem;
    position: fixed;
    width: 100vw;
    z-index: $layer2;
}

.NavIcon {
    color: $white;
    font-size: 1.75rem;
}