@import './../variables';

.Sidebar {
    background: $blue-primary-0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: -100vw;
    padding-top: $header-height;
    position: fixed;
    top: 0;
    transition: left ease-in 200ms;
    width: 100vw;
    z-index: $layer1;
}