// Palette
$white: #FEFEFE;
$blue-primary-0: #758AA8;
$blue-primary-1: #4C668C;
$blue-primary-2: #2C4870;
$blue-primary-3: #142E54;
$blue-primary-4: #051A38;

// grid variables
$grid-gap: 1rem;
$grid-column: calc(25% - #{$grid-gap});

// Layout, heights, and Spacing
$header-height: 3.5rem;
$layer2: 2;
$layer1: 1;
